# No backup files
#*
*~
# No object files
*.o
*.dep
# No logs
*.log
# Skip rootfs
/rootfs/**
!/rootfs/MUSTMOUNT
# Skip scratch
/scratch/**
!/scratch/KEEPME
# Skip live.iso
live.iso
# Skip image, script will create
/image/**